// Import Vuetify styling
@require '~vuetify/src/stylus/main.styl'

.page
  @extend .fade-transition

.BG-Average {
  width: auto;
  height: auto;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 13px 10px;
}
.BG-Average-Copy {
  width: auto;
  height: 660px;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 11px 16px 12px 17px;
}
